@model HyrBil.Models.Car

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarSize" class="control-label"></label>
                <select asp-for="CarSize" class="form-control"></select>
                <span asp-validation-for="CarSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDistance" class="control-label"></label>
                <input asp-for="CurrentDistance" class="form-control" />
                <span asp-validation-for="CurrentDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Rented" /> @Html.DisplayNameFor(model => model.Rented)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
