@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
    <a asp-controller="Bookings" asp-action="Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bokningar</a>
    <a asp-controller="Cars" asp-action="Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bilar</a>
    <a asp-controller="Customers" asp-action="Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Kunder</a>
</div>*@